/* (CTA text) */
/* (CTA hover background) */
/* (headings) */
/* (text) */
/* (footer text) */
/* (body copy) */
/* (footer background) */
/* 3.1 Background gradient - Intro/CTA mobile nav: */
/* 3.2 Background gradient - body: */
/* (CTA text) */
/* (CTA hover background) */
/* (headings) */
/* (text) */
/* (footer text) */
/* (body copy) */
/* (footer background) */
/* 3.1 Background gradient - Intro/CTA mobile nav: */
/* 3.2 Background gradient - body: */
@media screen and (max-width: 992px) {
  /* Section 1  modern-publishing */
  .navbar .navbar-toggler,
.navbar .navbar-brand {
    background: transparent !important;
  }
  .navbar > * {
    background: white;
    text-align: center;
    color: #1f3f5b;
    border-radius: 1rem;
    margin-top: 1rem;
  }
  .navbar > * a {
    padding: 2rem 0;
    color: #1f3f5b !important;
  }
  .navbar .dropdown-menu {
    text-align: center;
    border: none;
    color: #25252d;
  }

  .navbar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    width: 43%;
  }

  .btn:first-child {
    color: #1f3f5b !important;
  }

  .btn:last-child {
    margin-bottom: 1rem;
    color: white !important;
    background: #ff3d54;
    background: linear-gradient(222deg, #ff3d54 38%, #fcb045 100%);
  }

  /* Section 2  design-future */
  .design-future {
    text-align: center;
  }
  .design-future .editor-desktop {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  /* Section 3  modern-publishing */
  .art-infrastructure {
    margin-top: 15rem;
  }
  .art-infrastructure .phone-container .phone-desktop {
    width: 100%;
    height: auto;
    position: static !important;
    transform: translateY(-8rem);
  }
  .art-infrastructure .art-desc {
    margin: 0 !important;
    transform: translateY(-5rem);
  }
  .art-infrastructure .art-desc h2,
.art-infrastructure .art-desc p {
    text-align: center;
  }

  /* Section 4  powerful-too */
  .powerful-tool {
    text-align: center;
    margin-top: 5rem !important;
  }
  .powerful-tool .laptop-desktop {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  /* Section 5  footer */
  .footer {
    padding: 2rem 0rem;
  }
  .footer img {
    padding: 3rem 0rem;
  }
  .footer ul {
    text-align: center;
    margin: 1rem 0rem;
  }
}
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Overpass;
  overflow-x: hidden;
}

h2 {
  color: #1f3f5b;
  font-weight: 700;
}

h4 {
  font-weight: 700;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: white;
  margin: 0.4rem 0;
  font-weight: 200;
}

/* Section 1 modern-publishing */
.banner {
  min-height: 70vh;
  background-image: url(../images/bg-pattern-intro.svg), linear-gradient(90deg, #ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-position: 34% 53%;
  border-bottom-left-radius: 100px;
}
.banner .navbar-nav {
  margin-left: 2rem;
}
.banner .btn:first-child {
  margin-right: 1rem;
  background: transparent;
}
.banner .jumbotron .btn {
  margin: 0 0.5rem;
}
.banner .jumbotron .btn:last-child {
  background: transparent;
  color: white;
  border: 2px solid white;
}
.banner .jumbotron .btn:last-child:hover {
  background: white;
  color: #ff8f70;
}

/* 2. Section 2 design-future */
.design-future {
  color: #1f3f5b;
  min-height: 80vh;
}
.design-future:first-child {
  margin-top: 5rem;
}

/* 3. Section 3 Art-Infrastructure */
.art-infrastructure {
  margin-top: 10rem;
  color: white;
  background-image: url(../images/bg-pattern-circles.svg), linear-gradient(15deg, #2c2d3f 15%, #3f4164 60%);
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.art-infrastructure .art-desc {
  margin: 7rem 0;
}
.art-infrastructure h2 {
  color: white;
}
.art-infrastructure img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -17.5rem;
}

/* 4. Section 4 Powerful-Tool */
.powerful-tool {
  margin-top: 10rem;
  color: #1f3f5b;
}
.powerful-tool img {
  width: 100%;
  height: auto;
}

/* 5. Section 5 Footer */
.footer {
  margin-top: 5rem;
  background-color: #25252d;
  border-top-right-radius: 100px;
  padding: 2rem 0;
}
.footer li {
  color: white;
  list-style-type: none;
  margin: 1rem 0;
}

/* Reset Components */
.btn {
  color: #ff8f70;
  background: white;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  border: none;
}
.btn:hover {
  background: #ff8f70;
  color: white;
}

.navbar-toggler-icon,
.navbar-light,
.navbar-toggler {
  background-image: none !important;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}

/*# sourceMappingURL=style.css.map */
