@import "./variables";

@media screen and (max-width: 992px) {
  /* Section 1  modern-publishing */
  .navbar {
    .navbar-toggler,
    .navbar-brand {
      background: transparent !important;
    }
    & > * {
      background: $White;
      text-align: center;
      color: $Very-dark-blue;
      border-radius: 1rem;
      margin-top: 1rem;
      a {
        padding: 2rem 0;
        color: $Very-dark-blue !important;
      }
    }
    .dropdown-menu {
      text-align: center;
      border: none;
      color: $Very-dark-black-blue;
    }
  }
  .navbar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn {
    width: 43%;
  }
  .btn:first-child {
    color: $Very-dark-blue !important;
  }
  .btn:last-child {
    margin-bottom: 1rem;
    color: $White !important;
    background: rgb(255, 61, 84);
    background: linear-gradient(
      222deg,
      rgba(255, 61, 84, 1) 38%,
      rgba(252, 176, 69, 1) 100%
    );
  }

  /* Section 2  design-future */
  .design-future {
    text-align: center;
    .editor-desktop {
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
    }
  }
  /* Section 3  modern-publishing */
  .art-infrastructure {
    margin-top: 15rem;
    .phone-container {
      .phone-desktop {
        width: 100%;
        height: auto;
        position: static !important;
        transform: translateY(-8rem);
      }
    }
    .art-desc {
      margin: 0 !important;
      transform: translateY(-5rem);
      h2,
      p {
        text-align: center;
      }
    }
  }
  /* Section 4  powerful-too */
  .powerful-tool {
    text-align: center;
    margin-top: 5rem !important;
    .laptop-desktop {
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
    }
  }

  /* Section 5  footer */
  .footer {
    img {
      padding: 3rem 0rem;
    }
    padding: 2rem 0rem;
    ul {
      text-align: center;
      margin: 1rem 0rem;
    }
  }
}
